<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>process8</ion-title>

    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-card>
    <ion-card-header collapse="condense">
      <h2 >
        PROCESS 8: INTERNAL MONITORING AND MEASURING SYSTEM
      </h2>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header collapse="condense">
      <h2 >
        Parameter 8.1: Internal Monitoring
      </h2>
    </ion-card-header>
  </ion-card>

  <ion-card-subtitle>Activites</ion-card-subtitle>
  <ion-button expand="block" (click)="setOpen(true)" class="butt1"><span>QAP 8.1.1: Procedure for internal monitoring system</span></ion-button>
  <ion-button (click)="setOpen1(true)" expand="block" class="butt1"><span>QAP 8.1.2: Procedure for conducting classroom observation</span></ion-button>
  <ion-button (click)="setOpen2(true)" expand="block" class="butt1"><span>QAP 8.2.1: Procedure for implementing corrective and preventive action plan</span></ion-button>
 
  <br>



  <ion-modal [isOpen]="isModalOpen">
    <form method="post" [formGroup]="form" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)">cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="createpeople()">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        
        <ion-card>
          <!-- <ion-card-title>Activites</ion-card-title> -->
          <ion-card-header collapse="condense">
            <h2>
              QAP 8.1.1: Procedure for internal monitoring system
            </h2>
          </ion-card-header>
          <ion-card-content>
          <!-- <ion-card-subtitle>1. Preparing Training Plan </ion-card-subtitle> -->
          <br>
   
            <ion-list>
              <ion-radio-group formControlName="q1">
                <ion-item>
                  
                  <ion-card-subtitle>Q.Class attendance record of trainees should be monitored by Director  every week</ion-card-subtitle>
                </ion-item>

              <ion-item>
                 <ion-label>Yes</ion-label>
                 <ion-radio value="Yes"></ion-radio>
               </ion-item>
        
                <ion-item>
                   <ion-label>No</ion-label>
                   <ion-radio value="No"></ion-radio>
                   <ion-input type="text"  formControlName="q1reason" placeholder="click here to type your reasons">
                   
                  </ion-input>
               </ion-item>

               </ion-radio-group>
              </ion-list>
              <br>

              <ion-list>
                <ion-radio-group formControlName="q2">
                  <ion-item>

                    <ion-card-subtitle>Q.Staff attendance record should be monitored and verified by Director</ion-card-subtitle>
                  </ion-item>
                  
                  <ion-item>
                    <ion-label>Yes</ion-label>
                    <ion-radio value="Yes"></ion-radio>
                  </ion-item>
           
                   <ion-item>
                      <ion-label>No</ion-label>
                      <ion-radio value="No"></ion-radio>
                      <ion-input type="text"  formControlName="q2reason" placeholder="click here to type your reasons">
                   
                      </ion-input>
                  </ion-item>

                 </ion-radio-group>
                </ion-list>
            <br>   



          <ion-list>
            <ion-radio-group formControlName="q3">
              <ion-item>

                <ion-card-subtitle>Q.HOD should prepare monitoring plan for OJT and monitor trainees at least once</ion-card-subtitle>
              </ion-item>
              
              <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio value="Yes"></ion-radio>
              </ion-item>
       
               <ion-item>
                  <ion-label>No</ion-label>
                  <ion-radio value="No"></ion-radio>
                  <ion-input type="text"  formControlName="q3reason" placeholder="click here to type your reasons">
                   
                  </ion-input>
              </ion-item>

             </ion-radio-group>
            </ion-list>
        <br> 

        <ion-list>
          <ion-radio-group formControlName="q4">
            <ion-item>

              <ion-card-subtitle>Q.Director  should monitor trainees’ log and other records maintained by Trainer and the trainees</ion-card-subtitle>
            </ion-item>
            
            <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio value="Yes"></ion-radio>
            </ion-item>
     
             <ion-item>
                <ion-label>No</ion-label>
                <ion-radio value="No"></ion-radio>
                <ion-input type="text"  formControlName="q4reason" placeholder="click here to type your reasons">
                   
                </ion-input>
            </ion-item>

           </ion-radio-group>
          </ion-list>
      <br> 
        

      <ion-list>
        <ion-radio-group formControlName="q5">
          <ion-item>

            <ion-card-subtitle>Q.Director should monitor theory and practical class through planned visit to classroom and workshop</ion-card-subtitle>
          </ion-item>
          
          <ion-item>
            <ion-label>Yes</ion-label>
            <ion-radio value="Yes"></ion-radio>
          </ion-item>
   
           <ion-item>
              <ion-label>No</ion-label>
              <ion-radio value="No"></ion-radio>
              <ion-input type="text"  formControlName="q5reason" placeholder="click here to type your reasons">
                   
              </ion-input>
          </ion-item>

         </ion-radio-group>
        </ion-list>
    <br> 
        

    <ion-list>
      <ion-radio-group formControlName="q6">
        <ion-item>

          <ion-card-subtitle>Q.During assessment/exam, Director should monitor and ensure that a proper time table is prepared and assessment is conducted smoothly </ion-card-subtitle>
        </ion-item>
        
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="Yes"></ion-radio>
        </ion-item>
 
         <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="No"></ion-radio>
            <ion-input type="text"  formControlName="q6reason" placeholder="click here to type your reasons">
                   
            </ion-input>
        </ion-item>

       </ion-radio-group>
      </ion-list>
  <br> 


  <ion-list>
    <ion-radio-group formControlName="q7">
      <ion-item>

        <ion-card-subtitle>Q.Moderate and validate question papers set by individual Trainers</ion-card-subtitle>
      </ion-item>
      
      <ion-item>
        <ion-label>Yes</ion-label>
        <ion-radio value="Yes"></ion-radio>
      </ion-item>

       <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="No"></ion-radio>
          <ion-input type="text"  formControlName="q7reason" placeholder="click here to type your reasons">
                   
          </ion-input>
      </ion-item>

     </ion-radio-group>
    </ion-list>
<br> 


 
         
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
    </form>
  </ion-modal>


  <ion-modal [isOpen]="isModalOpen1">
    <form method="post" [formGroup]="form1" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="setOpen1(false)">cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="createpeople1()" >Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        
        <ion-card>
          <!-- <ion-card-title>Activites</ion-card-title> -->
          <ion-card-header collapse="condense">
            <h2>
              QAP 8.1.2: Procedure for conducting classroom observation
            </h2>
          </ion-card-header>
          <ion-card-content>
          <!-- <ion-card-subtitle>1. Preparing Training Plan </ion-card-subtitle> -->
          <br>
   
            <ion-list>
              <ion-radio-group formControlName="q1">
                <ion-item>
                  
                  <ion-card-subtitle>Q.Classroom observation checklist should be prepared and used during the observation </ion-card-subtitle>
                </ion-item>

              <ion-item>
                 <ion-label>Yes</ion-label>
                 <ion-radio value="Yes"></ion-radio>
               </ion-item>
        
                <ion-item>
                   <ion-label>No</ion-label>
                   <ion-radio value="No"></ion-radio>
                   <ion-input type="text"  formControlName="q1reason" placeholder="click here to type your reasons">
                   
                  </ion-input>
               </ion-item>

               </ion-radio-group>
              </ion-list>
              <br>

              <ion-list>
                <ion-radio-group formControlName="q2">
                  <ion-item>

                    <ion-card-subtitle>Q.Classroom observation should be observed by a committee appointed by the Principal</ion-card-subtitle>
                  </ion-item>
                  
                  <ion-item>
                    <ion-label>Yes</ion-label>
                    <ion-radio value="Yes"></ion-radio>
                  </ion-item>
           
                   <ion-item>
                      <ion-label>No</ion-label>
                      <ion-radio value="No"></ion-radio>
                      <ion-input type="text"  formControlName="q2reason" placeholder="click here to type your reasons">
                   
                      </ion-input>
                  </ion-item>

                 </ion-radio-group>
                </ion-list>
            <br>   



          <ion-list>
            <ion-radio-group formControlName="q3">
              <ion-item>

                <ion-card-subtitle>Q.Observations should be compiled and feedback is given for improvement of performance of respective Trainers.</ion-card-subtitle>
              </ion-item>
              
              <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio value="Yes"></ion-radio>
              </ion-item>
       
               <ion-item>
                  <ion-label>No</ion-label>
                  <ion-radio value="No"></ion-radio>
                  <ion-input type="text"  formControlName="q3reason" placeholder="click here to type your reasons">
                   
                  </ion-input>
              </ion-item>

             </ion-radio-group>
            </ion-list>
        <br> 

        <ion-list>
          <ion-radio-group formControlName="q4">
            <ion-item>

              <ion-card-subtitle>Q.Classroom observation should be carried out at least once in module wise and summary observation records are maintained by the supervisor.</ion-card-subtitle>
            </ion-item>
            
            <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio value="Yes"></ion-radio>
            </ion-item>
     
             <ion-item>
                <ion-label>No</ion-label>
                <ion-radio value="No"></ion-radio>
                <ion-input type="text"  formControlName="q4reason" placeholder="click here to type your reasons">
                   
                </ion-input>
            </ion-item>

           </ion-radio-group>
          </ion-list>
      <br> 
        

      <ion-list>
        <ion-radio-group formControlName="q5">
          <ion-item>

            <ion-card-subtitle>Q.Classroom observation should be conducted for both theory and practical class..</ion-card-subtitle>
          </ion-item>
          
          <ion-item>
            <ion-label>Yes</ion-label>
            <ion-radio value="Yes"></ion-radio>
          </ion-item>
   
           <ion-item>
              <ion-label>No</ion-label>
              <ion-radio value="No"></ion-radio>
              <ion-input type="text"  formControlName="q5reason" placeholder="click here to type your reasons">
                   
              </ion-input>
          </ion-item>

         </ion-radio-group>
        </ion-list>
    <br> 
        

    <ion-list>
      <ion-radio-group formControlName="q6">
        <ion-item>

          <ion-card-subtitle>Q.During class observation, committee should refer the lesson plan for theory and practical task sheet for practical class and other related records and documents.</ion-card-subtitle>
        </ion-item>
        
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="Yes"></ion-radio>
        </ion-item>
 
         <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="No"></ion-radio>
            <ion-input type="text"  formControlName="q6reason" placeholder="click here to type your reasons">
                   
            </ion-input>
        </ion-item>

       </ion-radio-group>
      </ion-list>
  <br> 


  
 
         
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
    </form>
    
  </ion-modal>


  <ion-modal [isOpen]="isModalOpen2">
    <form method="post" [formGroup]="form2" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="setOpen2(false)">cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="  createpeople2()">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        
        <ion-card>
          <!-- <ion-card-title>Activites</ion-card-title> -->
          <ion-card-header collapse="condense">
            <h2>
              QAP 8.2.1: Procedure for implementing corrective and preventive action plan
            </h2>
          </ion-card-header>
          <ion-card-content>
          <!-- <ion-card-subtitle>1. Preparing Training Plan </ion-card-subtitle> -->
          <br>
   
            <ion-list>
              <ion-radio-group formControlName="q1">
                <ion-item>
                  
                  <ion-card-subtitle>Q.Institute management should demonstrate conformity of the Quality Management System through periodic Audits and Management Review Meetings</ion-card-subtitle>
                </ion-item>

              <ion-item>
                 <ion-label>Yes</ion-label>
                 <ion-radio value="Yes"></ion-radio>
               </ion-item>
        
                <ion-item>
                   <ion-label>No</ion-label>
                   <ion-radio value="No"></ion-radio>
                   <ion-input type="text"  formControlName="q1reason" placeholder="click here to type your reasons">
                   
                  </ion-input>
               </ion-item>

               </ion-radio-group >
              </ion-list>
              <br>

              <ion-list>
                <ion-radio-group formControlName="q2">
                  <ion-item>

                    <ion-card-subtitle>Q.Ensure conformity of the Quality Management System through Corrective and Preventive Action Plans</ion-card-subtitle>
                  </ion-item>
                  
                  <ion-item>
                    <ion-label>Yes</ion-label>
                    <ion-radio value="Yes"></ion-radio>
                  </ion-item>
           
                   <ion-item>
                      <ion-label>No</ion-label>
                      <ion-radio value="No"></ion-radio>
                      <ion-input type="text"  formControlName="q2reason" placeholder="click here to type your reasons">
                   
                      </ion-input>
                  </ion-item>

                 </ion-radio-group>
                </ion-list>
            <br>   



          <ion-list>
            <ion-radio-group formControlName="q3">
              <ion-item>

                <ion-card-subtitle>Q.The approved corrective action plan should be given to relevant officers for implementation.</ion-card-subtitle>
              </ion-item>
              
              <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio value="Yes"></ion-radio>
              </ion-item>
       
               <ion-item>
                  <ion-label>No</ion-label>
                  <ion-radio value="No"></ion-radio>
                  <ion-input type="text"  formControlName="q3reason" placeholder="click here to type your reasons">
                   
                  </ion-input>
              </ion-item>

             </ion-radio-group>
            </ion-list>
        <br> 

        <ion-list>
          <ion-radio-group formControlName="q4">
            <ion-item>

              <ion-card-subtitle>Q.Management review committee should review the effectiveness of the implementation of corrective and preventive actions plan and take action accordingly</ion-card-subtitle>
            </ion-item>
            
            <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio value="Yes"></ion-radio>
            </ion-item>
     
             <ion-item>
                <ion-label>No</ion-label>
                <ion-radio value="No"></ion-radio>
                <ion-input type="text"  formControlName="q4reason" placeholder="click here to type your reasons">
                   
                </ion-input>
            </ion-item>

           </ion-radio-group>
          </ion-list>
      <br> 
        
  
 
         
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
    </form>
  </ion-modal>

</ion-content>
