<ion-app>
  <ion-menu side="start" contentId="content" class="responsive">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          SideBar
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          
        <ion-item lines="none" routerLink="/home">
          <ion-icon slot="start" name="home"
          > </ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>

        <ion-item routerLink="/auth"  lines="none">
          <ion-icon slot="start" name="exit"> </ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>

        
        <ion-item routerLink="/draft"  lines="none">
          <ion-icon slot="start" name="exit"> </ion-icon>
          <ion-label>draft</ion-label>
        </ion-item>

      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app> 
<!-- ion-app is about in ion app where it links -->
