h2{
    font-family: cursive;
    
    font-size:medium;
  }

  ion-label{
    font-family: cursive;
    
    font-size:small !important;
  }

  
.butt1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.butt1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.butt1:hover span {
  padding-right: 25px;
  color:black;
}

.butt1:hover span:after {
  opacity: 1;
  right: 0;
  color:black;
}