<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
  <!-- <ion-button routerLink="/process1"  class="butt1" ><span> process1</span></ion-button> -->

  <ion-button routerLink="/process1" expand="block" class="butt1"><span> process1</span></ion-button>
  <ion-button routerLink="/process2" expand="block" class="butt1"><span> process2</span></ion-button>
  <ion-button routerLink="/process3" expand="block" class="butt1"><span> process3</span></ion-button>
  <ion-button routerLink="/process4" expand="block" class="butt1"><span> process4</span></ion-button>
  <ion-button routerLink="/process5" expand="block" class="butt1"><span> process5</span></ion-button>
  <ion-button routerLink="/process6" expand="block" class="butt1"><span> process6</span></ion-button>
  <ion-button routerLink="/process7" expand="block" class="butt1"><span> process7</span></ion-button>
  <ion-button routerLink="/process8" expand="block" class="butt1"><span> process8</span></ion-button>
  <ion-button routerLink="/process9" expand="block" class="butt1"><span> process9</span></ion-button>
  <ion-button routerLink="/process10" expand="block" class="butt1"><span> process10</span></ion-button>

</ion-content>
