#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



.butt1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.butt1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.butt1:hover span {
  padding-right: 25px;
  color:black;
}

.butt1:hover span:after {
  opacity: 1;
  right: 0;
  color:black;
}